{%- macro component(name, params) -%}
  {% include "../components/" + name + ".njk" ignore missing %}
{%- endmacro -%}

{%- macro base(name, params) -%}
  {% include "../base/" + name + ".njk" ignore missing %}
{%- endmacro -%}
