/**
 * CUSTOMISATION 
 * 
 * further customisation components, blocks, pages..
 *
 * e.g. COMPONENT (Button) ON Login Page, BLOCK (ProductListing) ON Shop Page
 */

@layer utilities {
	/** 
	 * PAGES 
 	 */

	#icon-sprite-sheet {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		white-space: nowrap;
	}
}
